<!-- Footer -->
<footer class="mt-auto pt-3 text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-music-note"></i> IRONMUSIC
          </h6>
          <p>
            Tu portal de encuentro de bandas musicales. ¿Buscas un guitarrista para tu banda?, 
            ¿te gustaría unirte a una band-jam? Saca el artista que llevas dentro y conecta ya con miles de usuarios!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Comunidad
          </h6>
          <p>
            <a href="/bandjam" class="text-reset">Band-Jam</a>
          </p>
          <p>
            <a href="/formarbanda" class="text-reset">Formar Banda</a>
          </p>
          <p>
            <a href="/anunciatuconcierto" class="text-reset">Anuncia tu concierto</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Bandas
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contáctanos</h6>
          <p><i class="fas fa-home me-3"></i> P.º de la Castellana, 259, Fuencarral-El Pardo, 28046 Madrid</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            ironmusic@contact.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 900 00 00 00</p>
          <p><i class="bi bi-whatsapp"></i> +34 60 00 00 000</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 IRONMUSIC by Fajersztejn & Bravo Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">ironmusic.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->