<!-- Footer -->
<footer class="mt-auto pt-3 text-center text-lg-start bg-body-tertiary text-dark fw-bold bgFooter">
  <!-- Section: Social media -->
  <section class="d-flex flex-wrap justify-content-evenly align-items-center p-4">
    <!-- Right -->
    <div class="d-flex justify-content-around align-itmes-center">
      <h4 class="me-3 text-dark fw-bold" style="font-family: Reenie Beanie, cursive;"><u>Marta Bravo</u></h4>
      <a href="https://www.linkedin.com/in/marta-bravo-su%C3%A1rez-3272b710a/" class="me-4 text-dark">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/martabs92" class="me-4 text-dark">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <div class="d-flex justify-content-around align-itmes-center">
      <h4 class="me-3 text-dark fw-bold" style="font-family: Reenie Beanie, cursive;"><u>Lucas Fajersztejn</u></h4>
      <a href="https://www.linkedin.com/in/lucas-fajersztejn-25bb93163/" class="me-4 text-dark ">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/lucasfajersztejn" class="me-4 text-dark">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-music-note"></i> IRONMUSIC
          </h6>
          <p class="text-dark mb-4" >
            Tu portal de encuentro de bandas musicales. ¿Buscas un guitarrista para tu banda?, 
            ¿te gustaría unirte a una band-jam? Saca el artista que llevas dentro y conecta ya con miles de usuarios!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Comunidad
          </h6>
          <p>
            <a href="/bandjam" class="text-reset">Band-Jam</a>
          </p>
          <p>
            <a href="/formarbanda" class="text-reset">Formar Banda</a>
          </p>
          <p>
            <a href="/anunciatuconcierto" class="text-reset">Anuncia tu concierto</a>
          </p>
        </div>
       

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Bandas
          </h6>
          <p>
            <a href="/bands" class="text-reset">Ver todas las bandas</a>
          </p>
          <p>
            <a href="/bands" class="text-reset">Unirme a banda</a>
          </p>
          <p>
            <a href="/createBand" class="text-reset">Crear una banda</a>
          </p>
        </div>
        

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contáctanos</h6>
          <p><i class="fas fa-home me-3"></i> P.º de la Castellana, 259, Fuencarral-El Pardo, 28046 Madrid</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            ironmusic@contact.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 900 00 00 00</p>
          <p><i class="bi bi-whatsapp me-3"></i> +34 60 00 00 000</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 IRONMUSIC by Fajersztejn & Bravo Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">ironmusic.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->