<h1 class="my-5">Band-jam</h1>
<a class="btn btn-success" href="/bandjamForm">Crea un post!</a>

{{#each postBand}}
  <h1>{{bandName}}</h1>
  <h5>género: {{musicalGenre}}</h5>
  <p>Integrantes: {{numberOfMembers}}</p>

{{/each}}