<main class="bg-image"> 
  <section class="d-flex flex-column my-5">
    <h1 class="text-center my-2">Bienvenido a la Comunidad de Ironmusic</h1>
    <hr class="text-center mx-auto w-75 my-2">
  </section>

  <section class="d-flex flex-wrap justify-content-around">

    <div class="card shadow-lg p-3 mb-5 card1" style="width: 18rem;">
      <div class="card-body text-center d-flex flex-column align-items-center h-100">
        <h5 class="card-title text-dark fw-bold">BAND-JAM</h5>
        <p class="card-text text-dark fw-bold">¿Tienes una banda y buscas conectar con otras bandas? Entra y descúbrelas.</p>
        <a href="/bandjam" class="btn btn-outline-success text-black mt-auto fw-bold" data-mdb-ripple-init>Suena genial <i class="fas fa-music"></i></a>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 card2" style="width: 18rem;">
      <div class="card-body text-center d-flex flex-column align-items-center h-100">
        <h5 class="card-title text-dark fw-bold">FORMAR BANDA</h5>
        <p class="card-text text-dark fw-bold">¿Buscas músicos para tu proyecto? Cuéntanos de qué se trata y deja que otros se unan.</p>
        <a href="/formarbanda" class="btn btn-outline-success text-dark fw-bold mt-auto" data-mdb-ripple-init>Vamos a descubrirlo <i class="fas fa-binoculars"></i></a>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 card3" style="width: 18rem;">
      <div class="card-body text-center d-flex flex-column align-items-center h-100">
        <h5 class="card-title text-dark fw-bold">ANUNCIA TU CONCIERTO!!!</h5>
        <p class="card-text text-dark fw-bold">¿A qué esperas para petarlo y publicar tu próximo concierto?</p>
        <a href="/anunciatuconcierto" class="btn btn-outline-success text-dark fw-bold mt-auto" data-mdb-ripple-init>Let's rock it <i class="fas fa-guitar"></i></a>
      </div>
    </div>

  </section>
</main>



