<main class="bg-image"> 
  <section class="d-flex flex-column my-5 title-img">
    <h1 class="text-center my-2">Bienvenido a la Comunidad de Ironmusic</h1>
    <hr class="text-center mx-auto w-75 my-2">
  </section>

  <section class="container text-center">
    <div class="d-flex flex-wrap justify-content-around">
      <div class="card shadow-lg p-3 my-5 card1" style="width: 18rem; position: relative;">
        <a href="/bandjam" class="text-decoration-none"></a>
          <img src="https://d1rs3px2gf3dlr.cloudfront.net/media/blog/featured/RockBand4-KeyArt-1080p.png" class="card-img-top card-img shadow-img1 rounded-4" alt="musicians playing music">
          <div class="card-body text-center d-flex flex-column align-items-center h-100 mt-5">
            <h5 class="card-title text-dark fw-bold mb-3">BAND-JAM</h5>
            <p class="card-text text-dark fw-bold mb-3">¿Tienes una banda y buscas conectar con otras bandas? Entra y descúbrelas.</p>
            <a href="/bandjam" class="btn btn-outline-light text-black mt-auto fw-bold">Suena genial <i class="fas fa-music"></i></a>
          </div>
        </a>
      </div>
      
      <div class="card shadow-lg p-3 my-5 card2" style="width: 18rem; position: relative;">
        <a href="/formarbanda" class="text-decoration-none"></a>
          <img src="https://www.ansa.it/webimages/news_base/2023/6/30/8f0696df4fc75fa005931836c62d9697.jpg" class="card-img-top card-img shadow-img2 rounded-4" alt="musicians playing music">
          <div class="card-body text-center d-flex flex-column align-items-center h-100 mt-5">
            <h5 class="card-title text-dark fw-bold mb-3">FORMAR BANDA</h5>
            <p class="card-text text-dark fw-bold mb-3">¿Buscas músicos para tu proyecto? Cuéntanos de qué se trata y deja que otros se unan.</p>
            <a href="/formarbanda" class="btn btn-outline-light text-black mt-auto fw-bold">Suena genial <i class="fas fa-music"></i></a>
          </div>
        </a>
      </div>
      
      <div class="card shadow-lg p-3 my-5 card3" style="width: 18rem; position: relative;">
        <a href="/anunciatuconcierto" class="text-decoration-none">
          <img src="https://www.timeoutdubai.com/cloud/timeoutdubai/2023/05/22/gigs-in-dubai-1.png" class="card-img-top card-img shadow-img3 rounded-4" alt="musicians playing music">
          <div class="card-body text-center d-flex flex-column align-items-center h-100 mt-5">
            <h5 class="card-title text-dark fw-bold mb-3">ANUNCIA TU CONCIERTO!!!</h5>
            <p class="card-text text-dark fw-bold mb-3">¿A qué esperas para petarlo y publicar tu próximo concierto?</p>
            <a href="/anunciatuconcierto" class="btn btn-outline-light text-black mt-auto fw-bold">Suena genial <i class="fas fa-music"></i></a>
          </div>
        </a>
      </div>
    </div>
  </section>
</main>



