/* FUENTES:
primera fuente: IM Fell English (toda la web)
segunda fuente:Forum (titulo ironmusic)
tercera fuente:Reenie Beanie (comentarios)
*/


/* 
.im-fell english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}


.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
} 

.reenie-beanie-regular {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}
*/




body {
  font-family: "Forum", serif;
  /* background-color: #c4c4c4; */
  color: white;

}

h1, h2, h3, h4, h5 {
  font-family: "IM Fell English", serif;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-crawd/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.3;  */
  z-index: -1; 
} 

/*  
  background: rgb(32,0,119);
  background: linear-gradient(90deg, rgba(32,0,119,1) 0%, rgba(32,0,172,1) 50%, rgba(11,0,222,1) 100%); 
*/

.bgNav {
  background-color: rgb(172, 172, 172);
  height: 110px;
  background-image: url("../images/bg-crawd/rock-concert-silhouette-silhouette-fb49cd153ce2bcc57e7e0fa0ae50a961.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex !important;
  flex-direction: column !important;
  align-content: center !important;
}

.bgFooter {
  background-image: url("../images/bgEdit2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.bgFooter p {
  font-size: 16px !important;
} 
.bgFooter h6 {
  font-size: 18px !important;
}

.markdown-form {
  width: 850px;
  margin: 0 auto;
}


@media (min-width: 992px) {
  .bgNav {
    height: 110px;
    padding-bottom: 0px;
    background-color: rgb(172, 172, 172);
    background-image: url("../images/bg-crawd/rock-concert-silhouette-silhouette-fb49cd153ce2bcc57e7e0fa0ae50a961.png"), url("../images/bg-crawd/rock-concert-music-palacio-de-deportes-de-santander-concert-crowd-c63e8ab2c70a3618b3feab13d34e6521.png"), url("../images/bg-crawd/concert-music-festival-art-musician-crowd-fb11816fe1243a1e7da7ece9b5e1759d.png") ;
    background-repeat: repeat;
    background-size: contain;
  }

  .link-m {
    margin-right: 100px;
  }

  .searchInput {
    width: 320px;
  }

  .bgFooter {
    background-image: url("../images/bgEdit4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bgFooter p {
    font-size: 18px !important;
  } 
  .bgFooter h6 {
    font-size: 20px !important;
  }
}

.profileShadow {
  filter: drop-shadow(0px 0px 10px rgb(0, 247, 255));
    /* color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;  */
}

.ironBody {
  background-color: rgba(0, 0, 0, 0.37);
  /* border: 1px solid black; */
}

.card1 {
  background: rgb(249,255,0);
  background: linear-gradient(0deg, rgba(249,255,0,0.8827906162464986) 0%, rgba(255,136,0,0.700717787114846) 50%, rgba(255,81,0,0.7315301120448179) 100%);
}

.card2 {
  background: rgb(0,255,218);
  background: linear-gradient(0deg, rgba(0,255,218,1) 0%, rgba(29,253,119,0.6979166666666667) 50%, rgba(155,255,53,1) 100%);
}

.card3 {
  background: rgb(0,236,255);
  background: linear-gradient(0deg, rgba(0,236,255,1) 0%, rgba(29,184,253,0.6979166666666667) 50%, rgba(53,81,255,1) 100%);
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card-img {
  position: absolute;
  height: 140px;
  width: 340px; 
  top: -70px; 
  left: -30px; 
  right: 0px; 
  bottom: -40px; 
  object-fit: cover;
  animation: moveUpDown 2s infinite;
}

.card-imgNoMove {
  position: absolute;
  height: 140px;
  width: 340px; 
  top: -70px; 
  left: -30px; 
  right: 0px; 
  bottom: -40px; 
  object-fit: cover;
}

/* .card1:hover {
  box-shadow: 0px 0px 30px rgb(0, 132, 255) !important;
}

.card1:hover .card1-img {
  box-shadow: 0px 0px 20px rgb(0, 132, 255) !important;
} */

.card1:hover {
  box-shadow: 0px 0px 30px rgb(0, 0, 0) !important;
}

.card1:hover .shadow-img1 {
  box-shadow: 0px 0px 20px rgb(0, 0, 0) !important;
}

.card2:hover {
  box-shadow: 0px 0px 30px rgb(0, 0, 0) !important;
}

.card2:hover .shadow-img2 {
  box-shadow: 0px 0px 20px rgb(0, 0, 0) !important;
}

.card3:hover {
  box-shadow: 0px 0px 30px rgb(0, 0, 0) !important;
}

.card3:hover .shadow-img3 {
  box-shadow: 0px 0px 20px rgb(0, 0, 0) !important;
}

.rating {
  position: relative;
  width: 180px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3em;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 2px #b3acac;
}

.rating__result {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10px) translateX(-5px);
  z-index: -9;
  font: 3em Arial, Helvetica, sans-serif;
  color: #ebebeb8e;
  pointer-events: none;
}

.rating__star {
  font-size: 1.3em;
  cursor: pointer;
  color: #dabd18b2;
  transition: filter linear .3s;
}

.rating__star:hover {
  filter: drop-shadow(1px 1px 4px gold);
}
