{{!-- LOGIN --}}
<form action="/login" method="post">
  <div class="form-group mb-2">
    <label for="userName">Nombre de usuario</label>
    <input type="text" name="userName" id="userName">
  </div>

  <div class="form-group mb-2">
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password">
  </div>

  <button type="submit">Vamos allá</button>
</form>

{{!-- REGISTER --}}
<form action="/register" method="post">
  <div class="form-group mb-2">
    <label for="userName">Nombre de usuario</label>
    <input type="text" name="userName" id="userName">
  </div>
  
  <div class="form-group mb-2">
    <label for="name">Nombre completo</label>
    <input type="text" name="name" id="name">
  </div>

  <div class="form-group mb-2">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>

  <div class="form-group mb-2">
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password">
  </div>

  <div class="form-group mb-2">
    <label for="gender">Género</label>
    <select name="gender" id="gender">
      <option value="male">Hombre</option>
      <option value="female">Mujer</option>
      <option value="other">Otro</option>
      <option value="none">Prefiero no decirlo</option>
    </select>
  </div>

  <div class="form-group mb-2">
    <label for="photo">Foto avatar</label>
    <input type="text" name="photo" id="photo">

  </div>

  <div class="form-group mb-2">
    <label for="instruments">Instrumentos</label>
    <select id="instruments" multiple>
      <option value="arpa">Arpa</option>
      <option value="acordeón">Acordeón</option>
      <option value="bajo">Bajo</option>
      <option value="banjo">Banjo</option>
      <option value="batería">Batería</option>
      <option value="bagpipes">Bagpipes</option>
      <option value="cello">Cello</option>
      <option value="charango">Charango</option>
      <option value="clarinete">Clarinete</option>
      <option value="contrabajo">Contrabajo</option>
      <option value="congas">Congas</option>
      <option value="cítara">Cítara</option>
      <option value="cuerno francés">Cuerno Francés</option>
      <option value="djembe">Djembe</option>
      <option value="didgeridoo">Didgeridoo</option>
      <option value="dulcémele">Dulcémele</option>
      <option value="erhu">Erhu</option>
      <option value="flauta">Flauta</option>
      <option value="gaita">Gaita</option>
      <option value="gong">Gong</option>
      <option value="guitarra">Guitarra</option>
      <option value="harmónica">Harmónica</option>
      <option value="kalimba">Kalimba</option>
      <option value="koto">Koto</option>
      <option value="mandolina">Mandolina</option>
      <option value="marimba">Marimba</option>
      <option value="melódica">Melódica</option>
      <option value="oboe">Oboe</option>
      <option value="piano">Piano</option>
      <option value="pandereta">Pandereta</option>
      <option value="saxofón">Saxofón</option>
      <option value="sitar">Sitar</option>
      <option value="sheep">Sheep</option>
      <option value="shakuhachi">Shakuhachi</option>
      <option value="steel drum">Steel Drum</option>
      <option value="trombón">Trombón</option>
      <option value="trompeta">Trompeta</option>
      <option value="teclado">Teclado</option>
      <option value="theremin">Theremin</option>
      <option value="tuba">Tuba</option>
      <option value="ukelele">Ukelele</option>
      <option value="viola">Viola</option>
      <option value="violín">Violín</option>
      <option value="xilófono">Xilófono</option>
      <option value="zampoña">Zampoña</option>
  </select>
</div>

  <div class="form-group mb-2">
    <label for="description">Biografía</label>
    <input type="text" name="description" id="description">
  </div>

  <div class="form-group mb-2">
    <label for="location">Localización</label>
    <input type="text" name="location" id="location">
  </div>

  {{!-- <div class="form-group mb-2">
    <label for="bands">Banda/s</label>
    <input type="text" name="bands" id="bands">
  </div> --}}

  <div class="form-group mb-2">
    <label for="socialMedia">Redes Sociales</label>
    <input type="text" name="socialMedia" id="socialMedia">
  </div>

  {{!-- <div class="form-group mb-2">
    <label for="bandRequest">Petición de acceso a banda/s</label>
    <input type="text" name="bandRequest" id="bandRequest">
  </div>

  <div class="form-group mb-2">
    <label for="status">Estado de la petición</label>
    <input type="text" name="status" id="status">
  </div> --}}
  
  <button type="submit">Regístrame</button>
  
</form>

  {{!-- {
, '
    bandRequest: [{
      bandId: {
        type: Schema.Types.ObjectId,
        ref: "Bandas"
      },
      status: {
        type: String,
        enum: ["pending", "accepted", "rejected"],
        default: "pending" 
      }
    }] --}}