<section class="container text-center my-5 w-50">
  <h1 class="text-center my-2">Crear banda</h1>
  <div> 
  <p class="text-center my-5">Para crear tu banda no olvides rellenar todos los campos y Registrar tu banda.</p>
    </div>
</section>

<section class="mb-5" id="collapseRegister">
  <section class="tab-pane shadow-lg p-5 mt-5 " id="pills-register" role="tabpanel" aria-labelledby="tab-register">
    <form action="/createBand" method="post" >
      <!-- Name input -->
      <div class="d-flex flex-column justify-content-center align-content-center align-items-center">
        <div class="form-outline mb-4 w-75">
          <input type="text" name="name" id="name" class="form-control {{#if errors.name }}is-invalid{{/if}}">
          <label class="form-label" for="name">Nombre de la banda</label>
          {{#if errors.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}
        </div>

        <div class="form-outline mb-4 w-75">          
          <select name="musicalGenre" id="musicalGenre" class="form-control">
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="Indie">Indie</option>
            <option value="Hip Hop">Hip Hop</option>
            <option value="Jazz">Jazz</option>
            <option value="Blues">Blues</option>
            <option value="Reggae">Reggae</option>
            <option value="R&B">R&B</option>
            <option value="Country">Country</option>
            <option value="Electrónica">Electrónica</option>
            <option value="Folk">Folk</option>
            <option value="Metal">Metal</option>
            <option value="Punk">Punk</option>
            <option value="Clásica">Clásica</option>
            <option value="Soul">Soul</option>
            <option value="Funk">Funk</option>
            <option value="Gospel">Gospel</option>
            <option value="Salsa">Salsa</option>
            <option value="Reggaeton">Reggaeton</option>
            <option value="Alternativa">Alternativa</option>
          </select>
          <label class="form-label" for="musicalGenre">Género</label>
        </div>

        <div  class="form-outline mb-4 w-75">
          <input type="text" name="biography" id="biography" class="form-control {{#if errors.biography }}is-invalid{{/if}}">
          <label class="form-label" for="biography">Biografía</label>
          {{#if errors.biography}}<div class="invalid-feedback">{{errors.biography}}</div>{{/if}}
        </div>

        <div class="form-outline mb-4 w-75">
          <input type="text" name="photo" id="photo" class="form-control">
          <label class="form-label" for="photo">Foto del grupo</label>
        </div>

        <div class="form-outline mb-4 w-75">
          <input type="text" name="location" id="location" class="form-control {{#if errors.location }}is-invalid{{/if}}">
          <label class="form-label" for="location">Ubicación</label>
          {{#if errors.location}}<div class="invalid-feedback">{{errors.location}}</div>{{/if}}
        </div>

        

      

      <div class="d-flex flex-column justify-content-center align-content-center align-items-center w-100">
        <div class="input-group mb-2 w-50">
          <span class="input-group-text" id="socialMedia" style="width: 40px;"><i class="fab fa-instagram"></i></span>
          <input type="text" class="form-control" name="socialMedia"/>
        </div>

        <div class="input-group mb-2 w-50">
          <span class="input-group-text" id="socialMedia" style="width: 40px;"><i class="fab fa-facebook-square"></i></span>
          <input type="text" class="form-control" name="socialMedia"/>
        </div>

        <div class="input-group mb-2 w-50">
          <span class="input-group-text" id="socialMedia" style="width: 40px;"><i class="fab fa-twitter"></i></span>
          <input type="text" class="form-control" name="socialMedia"/>
        </div>

        <div class="input-group mb-2 w-50">
          <span class="input-group-text" id="socialMedia" style="width: 40px;"><i class="fab fa-linkedin"></i></span>
          <input type="text" class="form-control" name="socialMedia"/>
        </div>
        <div class="input-group mb-2 w-50">
          <span class="input-group-text" id="socialMedia" style="width: 40px;"><i class="fab fa-youtube"></i></span>
          <input type="text" class="form-control" name="socialMedia"/>
        </div>

        <input type="hidden" name="created" id="created" value="">
        <input type="hidden" name="rating" value="0">

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked aria-describedby="registerCheckHelpText"/>
          <label class="form-check-label" for="registerCheck">
            He leído y acepto los términos
          </label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3 w-25">Registrame</button>
      </div>
    </form>
  </section>
</section>





<script>
const createdInput = document.getElementById("created");
const currentDate = new Date();
const formattedDate = currentDate.toISOString().split('T')[0];
createdInput.value = formattedDate;
</script>