<h1>Crear banda</h1>
<form action="/createBand" method="post">
  <div class="form-group mb-2">
    <label for="name">Nombre de la banda</label>
    <input type="text" name="name" id="name">
  </div>

  <div class="form-group mb-2">
    <label for="musicalGenre">Género</label>
    <select name="musicalGenre" id="musicalGenre">
      <option value="Rock">Rock</option>
      <option value="Pop">Pop</option>
      <option value="Indie">Indie</option>
      <option value="Hip Hop">Hip Hop</option>
      <option value="Jazz">Jazz</option>
      <option value="Blues">Blues</option>
      <option value="Reggae">Reggae</option>
      <option value="R&B">R&B</option>
      <option value="Country">Country</option>
      <option value="Electrónica">Electrónica</option>
      <option value="Folk">Folk</option>
      <option value="Metal">Metal</option>
      <option value="Punk">Punk</option>
      <option value="Clásica">Clásica</option>
      <option value="Soul">Soul</option>
      <option value="Funk">Funk</option>
      <option value="Gospel">Gospel</option>
      <option value="Salsa">Salsa</option>
      <option value="Reggaeton">Reggaeton</option>
      <option value="Alternativa">Alternativa</option>
    </select>
  </div>

  <div class="form-group mb-2">
    <label for="biography">Biografía</label>
    <input type="text" name="biography" id="biography">
  </div>

  <div class="form-group mb-2">
    <label for="photo">Foto del grupo</label>
    <input type="text" name="photo" id="photo">
  </div>

  <div class="form-group mb-2">
    <label for="socialMedia">Redes Sociales</label>
    <input type="text" name="socialMedia" id="socialMedia">
  </div>

  <input type="hidden" name="created" id="created" value="">
  <input type="hidden" name="rating" value="0">

  <button type="submit">Registrar la banda</button>
</form>


<script>
const createdInput = document.getElementById("created");
const currentDate = new Date();
const formattedDate = currentDate.toISOString().split('T')[0];
createdInput.value = formattedDate;
</script>